.left{
    float: left;
    margin-top: 5rem;
    background-color: var(--secondary-color);
    border-radius: 50px;
}

.right{
    background-color: var(--secondary-color);
    float: right;
    margin-top: 5rem;
    border-radius: 50px;
}
